.container{
  display:grid;
  height:100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
}

nav{
  background: blue;
}

#sidebar
{
  background: yellow;
}
#content1
{
  background: lightblue;
}

#content2
{
  background: green;
}

#content3
{
  background: lightgreen;
}

footer
{
  background: lightblue;
}
